<div style="border-radius: 2px" class="wrapper-routing-list">
  <div
    style="
      display: flex;
      width: 100%;
      justify-content: space-evenly;
      align-items: center;
      padding: 5px;
    "
  >
    <div hidden class="position-relative">
      <button class="position-" mat-icon-button>
        <mat-icon>motion_photos_on</mat-icon>
      </button>
      <div
        class="position-absolute bg-white d-flex align-items-center mat-elevation-z1"
        style="
          width: 150px;
          margin-left: -60px;
          height: 25px;
          border-radius: 10px;
        "
      ></div>
    </div>
    <button mat-stroked-button (click)="clearList()">clear</button>
    <mat-checkbox (change)="polygonProcess($event.checked)"></mat-checkbox>
  </div>
  <div
    style="margin-top: 5px; width: 95%; text-align: left; margin-left: 3%"
    *ngIf="nodes.length > 0"
    cdkDropList
    class="routing-list"
  >
    <div
      *ngFor="let node of nodes"
      cdkDrag
      class="routing-list-item"
      style="
        display: inline-flex;
        justify-content: space-between;
        width: 100%;
        padding: 7px 14px;
      "
    >
      <div
        style="width: 13%; display: inline-flex; justify-content: space-around"
      >
        <i class="fa-solid fa-circle" [style.color]="node.color"></i>
      </div>
      <div
        *ngIf="node.name === ''"
        style="
          display: inline-flex;
          align-items: center;
          justify-content: space-evenly;
          width: 60%;
        "
      >
        <span>lat: {{ node.geoPoint.lat | number : "1.0-6" }}</span>
        <span>lon: {{ node.geoPoint.lon | number : "1.0-6" }}</span>
      </div>
      <div *ngIf="node.name !== ''">
        {{ node.name }}
      </div>
      <i
        style="cursor: pointer; float: right"
        (click)="removeNode(node.uuid)"
        class="fas fa-times"
      ></i>
    </div>
  </div>
  <div
    style="text-align: center; width: 100%; margin-top: 50px"
    *ngIf="nodes.length === 0"
  >
    Click on the map to add nodes for a Polygon.
  </div>
</div>
