<div *ngIf="item" class="container">
  <div class="bg-light h-100 mat-elevation-z3" style="border-radius: 10px">
    <div *ngIf="expanded">
      <app-item-kv-table [oscarItem]="item"></app-item-kv-table>
    </div>
    <div
      style="
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
      "
    >
      <div style="display: flex; gap: 2px">
        <mat-icon color="primary">place</mat-icon>
        <span style="margin-top: 2px">{{ item.properties.name }}</span>
      </div>
      <div style="display: flex; gap: 2px">
        <button
          mat-icon-button
          [color]="expanded ? 'primary' : null"
          (click)="showInfo()"
        >
          <mat-icon>info</mat-icon>
        </button>
        <button mat-icon-button (click)="addToRoute()">
          <mat-icon>directions</mat-icon>
        </button>
        <button mat-icon-button (click)="close()">
          <mat-icon>close</mat-icon>
        </button>
      </div>
    </div>
  </div>
</div>
