<button
  class="add-polygon-button"
  mat-raised-button
  color="primary"
  (click)="addTab()"
>
  Add Polygon
</button>
<mat-tab-group
  #tabs
  [hidden]="polygonsEmpty"
  mat-stretch-tabs
  style="margin-top: 10px; border-radius: 3px"
  class="polygon-tabs"
  (selectedTabChange)="changeTab($event)"
>
  <mat-tab *ngFor="let uuid of tabIndexToId">
    <ng-template class="w-100 d-flex justify-content-between" mat-tab-label>
      <i
        [hidden]="uuidToName.get(uuid) != ''"
        class="fa-solid fa-draw-polygon"
      ></i>
      <h6>{{ uuidToName.get(uuid) }}</h6>
      <i
        style="cursor: pointer"
        (click)="closeTab(uuid)"
        class="fas fa-times ml-4"
      ></i>
    </ng-template>
    <app-polygon (newNameEvent)="addName($event)" [uuid]="uuid"></app-polygon>
  </mat-tab>
</mat-tab-group>
